---
import { getEntry } from "astro:content";

const { intro, body, stats } = (await getEntry("nosotrosMission", "mission"))!.data;
---

<div class="bg-white dark:bg-neutral-900">
<div class="mx-auto mt-20 max-w-7xl px-6 pb-16 lg:px-8 pt-10">
  <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
    <div class="grid max-w-xl grid-cols-1 gap-8 text-justify text-base/7 text-neutral-600 lg:max-w-none lg:grid-cols-2 dark:text-neutral-300">
      <div>
        <p>{intro}</p>
      </div>
      <div>
        <p>{body}</p>
      </div>
    </div>
    <dl class="mt-16 grid grid-cols-1 gap-x-8 gap-y-12 sm:mt-20 sm:grid-cols-2 sm:gap-y-16 lg:mt-28 lg:grid-cols-4">
      {stats.map((stat) => (
        <div class="flex flex-col-reverse gap-y-3 border-l border-neutral-200 pl-6 dark:border-white/20">
          <dt class="text-base/7 text-neutral-600 dark:text-neutral-300">{stat.label}</dt>
          <dd class="text-3xl font-semibold tracking-tight text-neutral-900 dark:text-white">{stat.value}</dd>
        </div>
      ))}
    </dl>
  </div>
</div>
</div>
