---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/aliados/HeroSection.astro";
import PartnersSection from "../components/aliados/PartnersSection.astro";
import ContactFormSection from "../components/aliados/ContactFormSection.astro";
import CtaSection from "../components/aliados/CtaSection.astro";
---

<Layout title="Aliados">
  <div class="isolate">
    <HeroSection />
    <PartnersSection />
    <ContactFormSection />
    <CtaSection />
  </div>
</Layout>
