---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/empleo/HeroSection.astro";
import WhyJoinSection from "../components/empleo/WhyJoinSection.astro";
import ValuesSection from "../components/empleo/ValuesSection.astro";
import CtaSection from "../components/empleo/CtaSection.astro";
---

<Layout title="Empleo">
  <div class="isolate">
    <HeroSection />
    <WhyJoinSection />
    <ValuesSection />
    <CtaSection />
  </div>
</Layout>
