---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/home/HeroSection.astro";
import TrustSection from "../components/home/TrustSection.astro";
import FeaturesSection from "../components/home/FeaturesSection.astro";
import HowItWorksSection from "../components/home/HowItWorksSection.astro";
import MissionSection from "../components/home/MissionSection.astro";
import BlogSection from "../components/home/BlogSection.astro";
import CtaSection from "../components/home/CtaSection.astro";
---

<Layout title="Home">
  <div class="isolate">
    <HeroSection />
    <TrustSection />
    <FeaturesSection />
    <HowItWorksSection />
    <MissionSection />
    <BlogSection />
    <CtaSection />
  </div>
</Layout>
