---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/nosotros/HeroSection.astro";
import MissionSection from "../components/nosotros/MissionSection.astro";
import ParallaxSection from "../components/nosotros/ParallaxSection.astro";
import TeamSection from "../components/nosotros/TeamSection.astro";
---

<Layout title="Nosotros">
  <div class="isolate">
    <HeroSection />
    <MissionSection />
    <ParallaxSection />
    <TeamSection />
  </div>
</Layout>
